.inputT{
    width: 504px;
    height: 48px;
    border-radius: 4px;
}
.inputT__lightmode{
    background: #FFFFFF;
border: 1px solid #DFE3FA;
border-radius: 4px;
}
.inputT__darkmode{
    background: #1E2139;
    border: 1px solid #252945;
    border-radius: 4px;
    color: white;
}