@use "./../../styles/_colors.scss" as colors;

.inputT {
  width: 504px;
  height: 48px;
  border-radius: 4px;
}
.inputT__lightmode {
  background: #ffffff;
  border: 1px solid colors.$gray-light;
  border-radius: 4px;
}
.inputT__darkmode {
  background: colors.$blue-darkest;
  border: 1px solid colors.$blue-darker;
  border-radius: 4px;
  color: white;
}
