.InvoicePage {
  width: 100%;
  height: 100%;
  margin-left: 103px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 64px 0px 24px 0;
  }

  &__enlace {
    margin-right: 660px;
    text-decoration: none;
  }

  &__enlace img {
    transform: rotate(180deg);
    margin-right: 10px;
  }

  &__content {
    width: 730px;
    height: 88px;
    background: #ffffff;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
  }

  &__content2 {
    height: min-content;
    width: 730px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    padding: 30px 40px;
    padding-bottom: 60px;
  }
  &__colum2 {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__rows {
    display: flex;
    justify-content: space-between;
  }
  &__rows2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin: 30px 0px;
    &__colum {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__date {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
  &__rows3 {
    width: min-content;
    background: #f9fafe;
    border-radius: 8px;
    padding: 12px;
    margin-left: 10px;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 24px;

      margin: -12px;
      height: 80px;
      width: 634px;
      margin-top: 20px;
      background: #373b53;
      border-radius: 0px 0px 8px 8px;
    }
  }
  &__colum__items {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    margin-bottom: 14px;
  }

  &__rows5 {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    margin-bottom: 10px;

    // letras
    &__name {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: -0.229167px;
      color: #7e88c3;
    }
    &__qty {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: -0.229167px;
      color: #7e88c3;
    }
    &__price {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: -0.229167px;
      color: #7e88c3;
    }
    &__total {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: -0.229167px;
      color: #7e88c3;
    }
  }

  // letras
  &__totalPrice {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
  &__amount {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.229167px;
    color: #ffffff;
  }
  &__name {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }
  &__qty {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    margin-left: 10px;
  }
  &__price {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7e88c3;
  }
  &__total {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #0c0e16;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #0c0e16;
  }
  &__title span {
    color: #888eb0;
  }
  &__title2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7e88c3;
    margin-right: 16px;
  }
  &__title3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3125px;
    color: #0c0e16;
  }
  &__title4 {
    width: 90px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.229167px;
    color: #7e88c3;
  }
  &__btnEdit {
    cursor: pointer;
    background: #f9fafe;
    border-radius: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7e88c3;
    padding: 12px 16px;
    border: none;
  }
  &__btnEdit:hover {
    background: #dfe3fa;
  }
  &__btnDelete {
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #ffffff;
    background: #ec5757;
    border-radius: 24px;
    border: none;
    padding: 12px 24px;
  }
  &__btnDelete:hover {
    background: #ff9797;
  }
  &__btnMask {
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #ffffff;
    background: #7c5dfa;
    border-radius: 24px;
    border: none;
    padding: 12px 24px;
  }
  &__btnMask:hover {
    background: #9277ff;
  }

  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &__circle--paid {
    background-color: #33d69f;
  }
  &__circle--pending {
    background-color: #ff8f00;
  }
  &__circle--draft {
    background-color: #373b53;
  }
  &__button--paid {
    color: #33d69f;
    background: rgba(51, 214, 159, 0.06);
  }
  &__button--pending {
    color: #ff8f00;
    background: rgba(255, 143, 0, 0.06);
  }
  &__button--draft {
    color: #373b53;
    background: rgba(55, 59, 83, 0.06);
  }

  @media screen and (max-width: 900px) {
    margin-left: 0;
  }
}
@media screen and (max-width: 778px) {
  .InvoicePage {
    transform: scale(0.9);
    margin-top: 24px;
    &__enlace {
      margin-right: 590px;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 678px) {
  .InvoicePage {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    transform: scale(1);

    margin: 32px 0px;
    &__enlace {
      margin-right: 250px;
      text-decoration: none;
    }
    &__content {
      height: min-content;
      width: 327px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 13px 20px 10px 20px;
    }

    &__content2 {
      width: 327px;
      height: min-content;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      border-radius: 8px;
      padding: 30px 25px;
      padding-bottom: 60px;
    }
    &__colum2 {
      display: flex;
      gap: 8px;
    }
    &__rows {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
    }
    &__rows2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin: 30px 0px;

      &__colum {
        display: flex;
        flex-direction: column;
        gap: 0px;
        &__date {
          display: flex;
          flex-direction: column;
          gap: 0px;
        }
      }
      &__colum:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/3;
      }
    }
    &__rows3 {
      width: 279px;

      background: #f9fafe;
      border-radius: 8px;
      padding: 12px;
      margin-left: 0px;
      &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 24px;

        margin: -12px;
        height: 80px;
        width: 279px;

        margin-top: 10px;
        background: #373b53;
        border-radius: 0px 0px 8px 8px;
      }
    }
    &__colum__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-bottom: 14px;
    }
    &__qty {
      color: #7e88c3;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &__price {
      margin-left: 20px;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &__total {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    &__rows5 {
      display: none;
    }
  }
}

.App.dark {
  .InvoicePage {
    &__enlace {
      color: #ffffff;
    }

    &__content {
      background: #1e2139;
    }

    &__content2 {
      background: #1e2139;
    }
    &__rows3 {
      background: #252945;
      &__row {
        background: #0c0e16;
      }
    }

    &__rows5 {
      // letras
      &__name {
        color: #dfe3fa;
      }
      &__qty {
        color: #dfe3fa;
      }
      &__price {
        color: #dfe3fa;
      }
      &__total {
        color: #dfe3fa;
      }
    }

    // letras
    &__totalPrice {
      color: #ffffff;
    }
    &__amount {
      color: #ffffff;
    }
    &__name {
      color: #ffffff;
    }
    &__qty {
      color: #dfe3fa;
    }
    &__price {
      color: #dfe3fa;
    }
    &__total {
      color: #ffffff;
    }
    &__title {
      color: #ffffff;
    }
    &__title2 {
      color: #dfe3fa;
    }
    &__title3 {
      color: #ffffff;
    }
    &__title4 {
      color: #dfe3fa;
    }
    &__btnEdit {
      background: #252945;
    }
    &__btnEdit:hover {
      color: #7e88c3;
      background: #ffffff;
    }
  }
}
