$purple: #7c5dfa;
$purple-light: #9277ff;
$gray-dark: #888eb0;
$gray-blue: #7e88c3;
$gray-light: #dfe3fa;
$gray-lightest: #f8f8fb;
$blue-darkest: #1e2139;
$blue-darker: #252945;
$black-darkest: #0c0e16;
$black-darker: #141625;
$red: #ec5757;
$red-light: #ff9797;
