.inputN{
    width: 152px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 4px;
}
.inputN__lightmode{
    background: #FFFFFF;
    border: 1px solid #DFE3FA;
}
.inputN__darkmode{
    color: white;
    background: #1E2139;
border: 1px solid #252945;
}
