@use "./styles/_colors.scss" as colors;

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;

  @media screen and (max-width: 900px) {
    flex-direction: column;

    /* 80px: sidenavbar height */
    height: calc(100vh - 80px);
  }
}

.App.dark {
  background-color: colors.$black-darker;
}
