@use "./../../styles/_colors.scss" as colors;

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__header {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    width: 730px;
    max-width: 730px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .header {
    &__texts {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -1px;
      color: colors.$black-darkest;

      @media screen and (max-width: 570px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.625px;
      }
    }

    &__subtitle {
      color: colors.$gray-dark;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
    }

    &__controls {
      display: flex;
      gap: 40px;
      align-items: center;

      @media screen and (max-width: 768px) {
        gap: 10px;
      }
    }

    &__btn {
      width: 150px;
      height: 48px;

      cursor: pointer;
      background-color: colors.$purple;
      border-radius: 24px;
      border: none;
      outline: none;

      display: flex;
      align-items: center;
      padding-left: 8px;
      gap: 16px;

      &:hover {
        background-color: colors.$purple-light;
      }

      @media screen and (max-width: 570px) {
        width: 90px;
        height: 44px;
        gap: 8px;
      }
    }

    &-btn {
      &__circle {
        width: 32px;
        height: 32px;
      }

      &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #ffffff;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 48px;
  }

  @media screen and (max-width: 570px) {
    padding: 0 24px;
  }
}

.App.dark {
  .home {
    background-color: colors.$black-darker;

    .header {
      &__title,
      &__filter {
        color: #fff;
      }
    }
  }
}
